*   {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'Acme', sans-serif;
}
* ::selection {
    color: aqua;
}
header {
    background-image:  repeating-radial-gradient(circle at 0 0, transparent 0, #cccccc 64px), repeating-linear-gradient(#ffffff, #ffffff);
    background-color: #cccccc;


    height: 200px;
    font-size: 60px;
    text-align: center;
}
header h1 {
    color: rgb(0, 0, 0);
    position: relative;
    top: 15px;
}
section.menu {
    height: 60px;
    background: rgb(0, 0, 0);
}
section.menu ul {
    list-style: none;
    display: flex;
    justify-content:space-around;
}
section.menu ul li {
    margin: 10px 30px 5px 30px;
}
section.menu ul li a {
    text-decoration: none;
    color: aliceblue;
    font-size: 30px;
    transition: all 0.2s ease-in-out;
}
section.menu ul li :hover {
    color: rgb(255,71,0);
    text-shadow: rgb(255,71,0) 0px 0px 19px;
    font-size: 35px;
}
main {
    height: 561px;
    h1 {
        font-size: 50px;
    }
}