*   {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'Acme', sans-serif;
}
* ::selection {
    color: aqua;
}
header {
    background: rgb(0, 0, 0);

    height: 200px;
    font-size: 60px;
    text-align: center;
}
header h1 {
    color: aliceblue;
    position: relative;
    top: 15px;
}
section.menu {
    height: 60px;
    background: rgb(255,71,0);
    background: linear-gradient(0deg, rgba(255,71,0,1) 0%, rgba(0,0,0,1) 100%);
}
section.menu ul {
    list-style: none;
    display: flex;
    justify-content:space-around;
}
section.menu ul li {
    margin: 0 30px 5px 30px;
}
section.menu ul li a {
    text-decoration: none;
    color: aliceblue;
    font-size: 30px;
    transition: all 0.2s ease-in-out;
}
section.menu ul li :hover {
    color: rgb(255,71,0);
    text-shadow: rgb(255,71,0) 0px 0px 19px;
    font-size: 35px;
}
main {
    height: 561px;
    background-image: url(image.png);
    background-size:cover;
    background-position: center;
    background-position: 50px;
}